*{
      margin: 0;
      font-family: inter; 
}
/* -- HEADER --*/
header{
      padding: 100px;
      background-color: #303030;
      color: #FFFFFF;
 }
#tittle-header{
      font-size: 60px;
      font-weight: 600;
      margin-top: 100px;

}
#subtittle-header{
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
}
/* --SECTIONS --*/
section{
          padding-top: 60px;
          padding-bottom: 60px;
          background-color: #F9F9F9;
          columns: 3;
          text-align: center;
          text-justify: auto;
          
         
}
.tittle-sections{
          font-size: 40px;
          
          
          
           
}
.subtittle-sections{
          font-size: 20px;
          
}
/* -- MAIN --*/
main{
          margin-top: 25px;
          height: 638px;
          display: flex;
          justify-content: center;   
}
article{
          margin-right: 100px;
          margin-top: 200px;
}
#article-tittle{

          font-size:40px ;
}
#article-subtitte{
          font-size: 24px;
          font-weight: 300;
          margin-top: 50px;

}
/* --FOOTER --*/
footer{
     padding: 50px;
     background-color: #303030;
     color: white;
     text-align: center;
}
#tittle-footer{
     font-size: 32px;
}
input{
     background-color: #FFFFFF;
     color:#0000004D ;
     width: 508px;
     height:72px ;
     font-size:24px ;
     margin-top: 30px;
     border: 0%;
     border-radius: 10px;
     cursor: pointer;

}
button{
     background-color: #C07212;
     color: white;
     width: 286px;
     height: 74px;
     border: 0%;
     border-radius: 10px;
     cursor: pointer;
     margin-top: 30px;
     font-size: 24px;  
}

button:hover{
     background-color: #fc8c03ea;
     transform: translateY(-5px);
     box-shadow: 0px 15px 20px  rgba(3, 2, 0, 0.452)f1 ;
     transition-duration: 0.9s;

}


